// colors 
$background1: #524F5F;
$background2: #817A86;
$background-popup: #6A6171;
$white: #EAEAEC;

//Box shadows

$box-shadow-small: 0px 0px 10px rgba(0, 0, 0, 0.25);
$box-shadow-big: 0px 0px 50px rgba(0, 0, 0, 0.25);

//Overlay

$overlay: inset 0 0 0 2000px rgba(234, 234, 236, 0.5);