body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: #EAEAEC;
  background-color: #524F5F;
}

@media (min-width: 769px) {
  body {
    background-color: #817A86;
  }
}

* {
  font-weight: 400;
  margin: 0;
}

.number {
  text-transform: uppercase;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 769px) {
  main {
    background-color: #524F5F;
    border-radius: 10px;
    padding: 40px 0;
    width: 700px;
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  }
}

h1 {
  font-size: 30px;
}

@media (min-width: 601px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 30px;
  }
}

.color-code {
  font-size: 30px;
}

@media (min-width: 601px) {
  .color-code {
    font-size: 60px;
  }
}

@media (min-width: 769px) {
  .color-code {
    font-size: 35px;
  }
}

.scoreContainerL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scoreContainerL p {
  font-size: 20px;
}

.scoreContainerL h3 {
  font-size: 15px;
}

@media (min-width: 601px) {
  .scoreContainerL p {
    font-size: 30px;
  }
  .scoreContainerL h3 {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .scoreContainerL p {
    font-size: 25px;
  }
  .scoreContainerL h3 {
    font-size: 15px;
  }
}

.scoreContainerS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

@media (min-width: 601px) {
  .scoreContainerS {
    margin: 15px 30px 0 30px;
  }
}

@media (min-width: 769px) {
  .scoreContainerS {
    margin: 10px 20px 0 20px;
  }
}

.color-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

@media (min-width: 601px) {
  .color-box-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.color-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 5px 30px;
  height: 100px;
  font-size: 30px;
}

@media (min-width: 601px) {
  .color-box {
    width: 170px;
    height: 170px;
    margin: 50px 10px;
    font-size: 25px;
  }
}

@media (min-width: 769px) {
  .color-box {
    margin: 30px 15px;
  }
}

button {
  border: none;
  border-radius: 10px;
  background-color: #EAEAEC;
  color: #524F5F;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 10px 20px;
  height: 40px;
  width: 200px;
  font-size: 20px;
}

@media (min-width: 601px) {
  button {
    width: 255px;
    height: 55px;
    margin: 0;
    font-size: 30px;
  }
}

@media (min-width: 769px) {
  button {
    width: 140px;
    height: 30px;
    font-size: 15px;
  }
}

.background-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(234, 234, 236, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(234, 234, 236, 0.5);
}

.result-popup {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6A6171;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 90%;
}

.result-popup h2 {
  font-size: 40px;
  margin: 30px;
}

.result-popup h3 {
  font-size: 100px;
  margin: 10px 0 0 0;
}

.result-popup h4 {
  font-size: 30px;
}

.result-popup p {
  font-size: 20px;
}

@media (min-width: 601px) {
  .result-popup h2 {
    font-size: 50px;
  }
}

.score-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-again-button {
  height: 30px;
  width: 150px;
  font-size: 15px;
  margin: 30px;
}

@media (min-width: 601px) {
  .play-again-button {
    width: 140px;
  }
}

.chosen {
  -webkit-box-shadow: inset 0 0 0 2000px rgba(234, 234, 236, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(234, 234, 236, 0.5);
  color: #524F5F;
  font-weight: bold;
}

.unclickable {
  pointer-events: none;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */