@import "partials/variables";
@import "partials/mixins";

//JS classes

.chosen {
  border-color: green;
  border-style: solid;

.unclickable {
  pointer-events: none;
}

.hidden {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
}