@import "partials/variables";
@import "partials/mixins";

.correct {
  border-color: green;
  border-style: solid;
}

.incorrect {
  border-color: red;
  border-style: solid;
}

.unclickable {
  pointer-events: none;
}

.hidden {
  display: none;
}
