@import "partials/variables";
@import "partials/mixins";

//General styling

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $white;
  background-color: $background1;
}

* {
  font-weight: 400;
}

.number {
  text-transform: uppercase;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

//Main

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


//Scores

.scoreContainerL {
  display: flex;
  justify-content: space-between;
}

.scoreContainerS {
  display: flex;
  flex-direction: column;
  align-items: center;
}


//Color boxes

.color-box {
  border-radius: 20px;
  text-align: center;
  box-shadow: $box-shadow-small;
}

//Buttons

button {
  border: none;
  border-radius: 10px;
  background-color: $white;
  color: $background1;
  font-weight: bold;
  box-shadow: $box-shadow-small;
}

//Popup

.background-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  box-shadow: $overlay;
}

.result-popup {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $background-popup;
  border-radius: 10px;
  box-shadow: $box-shadow-big;
}

.score-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//JS classes

.chosen {
  box-shadow: $overlay;
  color: $background1;
  font-weight: bold;
}

.unclickable {
  pointer-events: none;
}

.hidden {
  display: none;
}